<div class="container-fluid">
    <div class="row justify-content-md-center">
     

      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form #pasajeroForm="ngForm" (ngSubmit)="addPasajero(pasajeroForm)">
                <h3>Generar Programa de vuelo</h3>
                 
                  <div class="form-row">

                      <div class="form-group col-md-4">
                        <label></label>
                        <input  class="form-control"  placeholder="nombre" type="text" id="nombre" name="nombre" #name="ngModel" [(ngModel)]="selectedPasajeroName">
                      </div>

                      <div class="form-group col-md-4">
                          <label>Apellido</label>
                          <input type="text" class="form-control"  placeholder="apellido" id="apellido" name="apellido" #name="ngModel" [(ngModel)]="selectedPasajeroApellido">
                        </div>
                        
                        <div class="form-group col-md-2">
                            <label>Edad</label>
                            <input  type="number" class="form-control"  placeholder="edad" id="edad" name="edad" #name="ngModel" [(ngModel)]="selectedPasajeroEdad">
                          </div>

                          <div class="form-group col-md-2">
                              <label>sexo</label>
                              <select class="form-control" id="sexo" name="sexo" #name="ngModel" [(ngModel)]="selectedPasajeroSexo">
                                  <option *ngFor="let sexo of sexos" [value]="sexo">{{sexo}}</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                              <label>Pasaporte</label>
                              <input type="text" class="form-control"  placeholder="pasaporte" id="pasaporte" name="pasaporte" #name="ngModel" [(ngModel)]="selectedPasajeroPasaporte">
                            </div>
                            
                            <div class="form-group col-md-6">
                              <label>Cantidad de equipaje</label>
                              <select class="form-control" id="maletas" name="cant_maletas" #name="ngModel" [(ngModel)]="selectedPasajeroMaletas">
                                  <option *ngFor="let maleta of maletas" [value]="maleta">{{maleta}}</option>
                                </select>
                            </div>
                  </div>
                     
                    <div class="botones">
                        <button class="btn btn-primary" type="submit">Comprar</button>
                    </div>  
            
                    </form>

                    <form class="form-inline">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd"
                                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">dates</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    
                    <hr/>
                   

                  
          </div>
      </div>
     
    </div>
  </div>