<div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
              <h3>Asignar Ruta</h3>
              <br>
             
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Destino1</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="destino1">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Destino2</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="destino2">
                  </div>

              </div>


