<div class="container">
  <h1 class="display-4 text-center">Pasajeros a Bordo</h1>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Vuelo_Id</th>
          <th scope="col">Pasajero_id</th>
          <th scope="col">Pasaporte</th>
          <th scope="col">Hora Abordo</th>
    
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Larry</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
         
        </tr>
      </tbody>
    </table>
</div>
