
<div class="container-fluid">
  <div class="row justify-content-md-center">
   
    <div class="col-lg-8">
        <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
            <form #avionForm="ngForm" (ngSubmit)="deleteAvion(avionForm)">
              <h3>Eliminar Avion</h3>
               <div class="form-row">
                  <div class="form-group col-md-9">

                      <label>Escoge el avion</label>
                      
                      <select class="form-control" id="avion" name="avion" #name="ngModel" [(ngModel)]="selectedAvion" (change)="changeAvion($event)">
                        <option *ngFor="let avion of aviones" [value]="avion.id">{{avion.id}}</option>
                      </select>
                    </div>
                    <div class="botones">
                        <button class="btn btn-primary" type="submit" >eliminar</button>
            </div>
               </div>
             
                 

