<div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
                <h3>Registro de compra</h3>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Pasaporte del comprador</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="pasaporte">
                    </div>
                  </div>
                  <h4>Detalles de la compra</h4>
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Pasaje_id</th>
                          <th scope="col">Pasaporte de pasajero</th>
                          <th scope="col">Precio</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                 
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">total:  </th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">10000</th>
                          </tr>
                        </thead>
                        
                      </table>
                 
                    <div class="botones">
                        <a class="btn btn-primary" role="button" routerLink="/ventas">Compra realizada</a>
            
                    </div>  
            
                    </form>
                  
          </div>
      </div>
     
    </div>
  </div>