
  <div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
              <h3>Registrar avion</h3>
              <br>
              <h2>Datos Generales</h2>
                <div class="form-row">
                  
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Modelo</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="modelo">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Fabricante</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="fabricante">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Cantidad de Asientos VIP</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="cant_asientos_vip">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Cantidad de Asientos Economica</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="cant_asientos_economica">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Peso Vacio</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="peso_vacio">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Peso Maximo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="peso_max">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Kg en Equipaje Maximo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="equipaje_max">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Cabina Maxima</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="cabina_max">
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Distancia para Despegar</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="distancia_despeje">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Distancia para Aterrizar</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="distancia_aterrizar">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Velocidad Maxima</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="vel_max">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Velocidad Crucero</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="vel_crucero">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Cantidad de Baños</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="cant_banos">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Cantidad Salidas de Emergencia</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="cant_emergencia">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Tipos de Asiento</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="tipos_asiento">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Tipo de Combustible</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="tipo_combustible">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Posee Televisiones</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                          <option>--</option>
                          <option>Si</option>
                          <option>No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4"> Internet</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                          <option>--</option>
                          <option>Si</option>
                          <option>No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Estado</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                          <option>--</option>
                          <option>Disponible</option>
                          <option>En vuelo</option>
                          <option>Mantenimiento</option>
                          <option>Fuera de Servicio</option>
                        </select>
                  </div>
                  </div>
                  <div class="botones">
                      <a class="btn btn-primary" role="button" routerLink="/check_in"> Devolver </a>
                  </div>  
                </form>
          </div>
      </div>
     
    </div>
  </div>  

