
  <div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
              <h3>Registrar avion</h3>
              <br>
                  <div class="form-group col-md-4">
                      <label for="inputEmail4">Modelo</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="modelo">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Fabricante</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="fabricante">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Fabricante</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="fabricante">
                  </div>
                  <div class="botones">
                      <a class="btn btn-primary" role="button" routerLink="/check_in"> Devolver </a>
          
                  </div>  
          
                </form>
          </div>
      </div>
     
    </div>
  </div>  

