<div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
              <h3>Asignar Hotel</h3>
              <br>
             
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Hoteles Disponibles:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>De mano</option>
                        <option>De bodega</option>
                      </select>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Grupo familiar:</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select>
                    </div>

                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Pasaporte</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="pasaporte">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Habitacion</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select>
                  </div>
                  
                  
    
                </div>


                  <div class="botones">
                      <a class="btn btn-primary" role="button" routerLink="/check_in"> Devolver </a>
          
                  </div>  
          
             
          
                 
                </form>
          </div>
      </div>
     
    </div>
  </div>
