<div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
              <h3>Registro de Pasajero</h3>
              <br>
           

              <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="inputEmail4">Pasaje</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="pasaje">
                  </div>
                  <div class="form-group col-md-8">
                      <label for="inputEmail4">pasaporte</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="pasaporte">
                    </div>
                  <div class="form-group col-md-8">
                    <label for="inputPassword4">vuelo</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="vuelo">
                  </div>
                </div>


                  <div class="botones">
                      <a routerLink="asientos"  class="btn btn-primary" role="button">Siguiente</a>
          
                  </div>  
          
             
          
                 
                </form>
          </div>
      </div>
     
    </div>
  </div>
