<div class="container box">
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Cedula</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="25123456">
          <label for="exampleFormControlInput1">Contraseña</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="contraseña">
        </div>
        <div class="botones">
            <button type="button" class="btn btn-light">Login</button>

        </div>  

   

       
      </form>
</div>