<div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
              <h3>Equipaje</h3>
              <br>
             
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Escoja tipo de equipaje</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>De mano</option>
                          <option>De bodega</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Kg: </label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="kG de equipaje">

                    </div>
    
                </div>


                  <div class="botones">
                      <a class="btn btn-primary" role="button" routerLink="/check_in"> Registrar </a>
          
                  </div>  
          
             
          
                 
                </form>
          </div>
      </div>
     
    </div>
  </div>
