<div class="container-fluid">
    <div class="row justify-content-md-center">
     
      <div class="col-lg-8">
          <div class="container box shadow-lg p-3 mb-5 bg-white rounded">
              <form>
              <h3>Asignar Vuelo</h3>
              <br>
             
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Escoja el vuelo cancelado</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>De mano</option>
                          <option>De bodega</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Pasaporte:  </label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Pasaporte">

                    </div>
    
                </div>

                  <div class="botones">
                      <button class="btn btn-primary">Buscar</button>
                  </div>  

                </form>

                <form>
                    <h3>Vuelos Disponibles</h3>
                    <br>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#vuelo_id</th>
                            <th scope="col">Hora Llegada</th>
                            <th scope="col">Hora Salida</th>
                            <th scope="col">Fecha Llegada</th>
                            <th scope="col">Fecha Salida</th>
                            <th scope="col">Asientos Disponibles</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                        
                        </tbody>
                      </table>

                   
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Escoja el vuelo</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>De mano</option>
                                <option>De bodega</option>
                              </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Pasaporte:  </label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Pasaporte" disabled>
      
                          </div>
          
                      </div>
      
                        <div class="botones">
                            <button class="btn btn-primary">Asignar</button>
                        </div>  
      
                      </form>
          </div>
      </div>
     
    </div>
  </div>
