<div class="container">
  <h1 class="display-4 text-center">Pasajes Vendidos</h1>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Pasaporte</th>
          <th scope="col">nombre</th>
          <th scope="col">pasaje</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let pasajero of pasajeros">
          <td>{{pasajero.pasaporte}}</td>
          <td>{{pasajero.nombre}}</td>
          <td>{{pasajero.pasaje}}</td>
         
        </tr>
      </tbody>
    </table>
</div>
